<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BruteForce - Voorbeeld</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <style>
        body{
            background-color: #000;
            color: #00ff00;
            font-size: x-large;
            font-family: monoscope;
        }
        td{
            width: 33%;
        }
        .geraden{
            color: #00CC33;
        }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="MyCtrl">
    <table class="table table-bordered">
        <tr ng-repeat="rijBruteforces in bruteforces">
            <td ng-repeat="bruteforce in rijBruteforces">
                <h1>{{bruteforce.techniek}}</h1>
                <div class="status">
                    {{bruteforce.tijdBezig}} seconden bezig en {{bruteforce.aantalPogingen}} wachtwoorden geprobeerd
                </div>
                <div class="pogingen">
                    Wachtwoorden pogingen:
                    <ul>
                        <li ng-repeat="poging in bruteforce.laatsteVijfPogingen">
                            {{poging}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
    var app = angular.module("myApp", []);
        app.controller('MyCtrl', function($scope, $rootScope, $timeout){
            $scope.$on('config-loaded', function(){
                $scope.woordenboek = $rootScope.woordenboek;
                //console.log($scope.woordenboek);
                var chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
                startBruteForcing();

                function startBruteForcing() {
                    $rootScope.bruteforces = [
                        [{
                            "techniek": "alfa",
                            "wachtwoord": "password",
                            "tijdBezig": 0,
                            "aantalPogingen": 0,
                            "geraden": false,
                            "laatsteVijfPogingen": []
                        },
                            {
                                "techniek": "alfa",
                                "wachtwoord": "password123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": false,
                                "laatsteVijfPogingen": []
                            },
                            {
                                "techniek": "alfa",
                                "wachtwoord": "p4ssw0rd123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": false,
                                "laatsteVijfPogingen": []
                            },
                        ], [{
                            "techniek": "woordenboek",
                            "wachtwoord": "password",
                            "tijdBezig": 0,
                            "aantalPogingen": 0,
                            "geraden": false,
                            "laatsteVijfPogingen": []
                        },
                            {
                                "techniek": "woordenboek",
                                "wachtwoord": "password123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": false,
                                "laatsteVijfPogingen": []
                            },
                            {
                                "techniek": "woordenboek",
                                "wachtwoord": "p4ssw0rd123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": false,
                                "laatsteVijfPogingen": []
                            }
                        ]];

                    for (var i = 0; i < $rootScope.bruteforces.length; i++) {
                        for (var j = 0; j < $rootScope.bruteforces[i].length; j++) {
                            var bruteforce = $rootScope.bruteforces[i][j];
                            var teller = 1;
                            doeEenPoging(bruteforce, teller);
                        }
                    }

                    function doeEenPoging(bruteforce, teller) {
                        if (bruteforce.geraden === false && bruteforce.aantalPogingen < 100) {             //!!!!!!!!!!!!!Vergeet aantal pogingen < 10000 niet weg te halen!!!!!!!!!!!!
                            var string = "";
                            var i = teller;
                            while(i / chars.length > 0) {
                                string = string + chars[i % chars.length];
                                i = i - chars.length;
                            }

                            bruteforce.aantalPogingen++;
                            teller++;
                            bruteforce.laatsteVijfPogingen.unshift(string);
                            if(bruteforce.laatsteVijfPogingen.length >= 6)
                            {
                                bruteforce.laatsteVijfPogingen.pop();
                            }

                            if(string === bruteforce.wachtwoord) {
                                bruteforce.geraden = true;
                            }
                            console.log(string + " " + teller);

                            $timeout(function () {
                                doeEenPoging(bruteforce, teller)
                            }, 10);
                        }
                    }
                };
            });
        });

        app.run(function($rootScope, $timeout, $q, $http){
            $http.get('resources/wordlist.txt')
                    .success(function(data, status, headers, config) {
                        $rootScope.woordenboek = data;
                        $rootScope.$broadcast('config-loaded');
                    })
                    .error(function(data, status, headers, config) {
                        // log error
                        alert('error');
                    });
//            $http.get("resources/wordlist.txt").then(function (response) {
//                $rootScope.woordenboek = response.data;
//                console.log($rootScope.woordenboek);
//            });
            //readTextFile("resources/wordlist.txt");
//            function readTextFile(file)
//            {
//                var rawFile = new XMLHttpRequest();
//                rawFile.open("GET", file, false);
//                rawFile.onreadystatechange = function ()
//                {
//                    if(rawFile.readyState === 4)
//                    {
//                        if(rawFile.status === 200)
//                        {
//                            var allText = rawFile.responseText;
//                            $rootScope.woordenboek = allText;
//                            console.log($rootScope.woordenboek);
//                            startBruteForcing();
//                        }
//                    }
//                }
//                rawFile.send(null);
//            }

            //startBruteForcing();
        });
</script>
</body>
</html>