<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BruteForce - Voorbeeld</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <style>
        body{
            background-color: #000;
            color: #fff;
            font-size: x-large;
        }
        td{
            width: 33%;
        }
        .geraden{
            color: #00CC33;
        }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <table class="table table-bordered">
        <tr ng-repeat="rijBruteforces in bruteforces">
            <td ng-repeat="bruteforce in rijBruteforces">
                <h1>{{bruteforce.techniek}}</h1>
                <div class="status">
                    {{bruteforce.tijdBezig}} seconden bezig en {{bruteforce.aantalPogingen}} wachtwoorden geprobeerd
                </div>
                <div class="pogingen">
                    Wachtwoorden pogingen:
                    <ul>
                        <li ng-repeat="poging in bruteforce.laatsteVijfPogingen">
                            {{poging}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
    angular.module("myApp", [])
        .controller("myCtrl", function($scope){
            $scope.bruteforces = [
                [{"techniek":"alfa", "wachtwoord":"password", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []},
                {"techniek":"alfa", "wachtwoord":"password123", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []},
                {"techniek":"alfa", "wachtwoord":"p4ssw0rd123", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []},
                ],[{"techniek":"woordenboek", "wachtwoord":"password", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []},
                {"techniek":"woordenboek", "wachtwoord":"password123", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []},
                {"techniek":"woordenboek", "wachtwoord":"p4ssw0rd123", "tijdBezig": 0, "aantalPogingen": 0, "geraden": false, "laatsteVijfPogingen": []}
            ]];

            for(var i = 0; i < $scope.bruteforces.length; i++) {
                for(var j = 0; j < $scope.bruteforces[i].length; j++) {
                    var bruteforce = $scope.bruteforces[i][j];
                    verhoogPogingen(bruteforce);
                }
            }
        });

    function verhoogPogingen(bruteforce) {
        if (bruteforce.geraden === false && bruteforce.aantalPogingen < 1000) {             //!!!!!!!!!!!!!Vergeet aantal pogingen < 10000 niet weg te halen!!!!!!!!!!!!!
            bruteforce.aantalPogingen++;
            window.setTimeout(verhoogPogingen(bruteforce), 1000);
        }
    }
</script>
</body>
</html>