<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BruteForce - Voorbeeld</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <style>
        body{
            background-color: #000;
            color: #00ff00;
            font-size: x-large;
            font-family: monoscope;
        }
        td{
            width: 33%;
        }
        .geraden{
            color: #fff;
        }
        .nietgeraden{
            color: red;
        }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="MyCtrl">
    <table class="table table-bordered">
        <tr ng-repeat="rijBruteforces in bruteforces">
            <td ng-repeat="bruteforce in rijBruteforces">
                <h1>{{bruteforce.techniek}}</h1>
                <div class="status">
                    {{bruteforce.tijdBezig}} seconden bezig en {{bruteforce.aantalPogingen}} wachtwoorden geprobeerd
                </div>
                <div class="pogingen">
                    Wachtwoorden pogingen:
                    <ul>
                        <li ng-repeat="poging in bruteforce.laatsteVijfPogingen track by $index">
                            {{poging}}
                        </li>
                    </ul>
                </div>
                <div ng-show="bruteforce.geraden === true">
                    Bruteforce successvol, wachtwoord is <span class="geraden">{{bruteforce.wachtwoord}}</span>
                </div>
                <div ng-show="bruteforce.geraden === false && bruteforce.tijdBezig > 0" class="nietgeraden">
                    Bruteforce niet successvol, wachtwoord is {{bruteforce.wachtwoord}}
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
    var app = angular.module("myApp", []);
        app.controller('MyCtrl', function($scope, $rootScope, $timeout){
            $scope.$on('dictionary-loaded', function(){
                $scope.woordenboek = $rootScope.woordenboek;
                var chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
                startBruteForcing();

                function startBruteForcing() {
                    $rootScope.bruteforces = [
                        [{
                            "techniek": "alfa",
                            "wachtwoord": "aaaaaaba",
                            "tijdBezig": 0,
                            "aantalPogingen": 0,
                            "geraden": undefined,
                            "laatsteVijfPogingen": []
                        },
                            {
                                "techniek": "alfa",
                                "wachtwoord": "password123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": undefined,
                                "laatsteVijfPogingen": []
                            },
                            {
                                "techniek": "alfa",
                                "wachtwoord": "p4ssw0rd123",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": undefined,
                                "laatsteVijfPogingen": []
                            },
                        ], [{
                            "techniek": "woordenboek",
                            "wachtwoord": "password",
                            "tijdBezig": 0,
                            "aantalPogingen": 0,
                            "geraden": undefined,
                            "laatsteVijfPogingen": []
                        },
                            {
                                "techniek": "woordenboek",
                                "wachtwoord": "password1",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": undefined,
                                "laatsteVijfPogingen": []
                            },
                            {
                                "techniek": "woordenboek",
                                "wachtwoord": "larisa1993",
                                "tijdBezig": 0,
                                "aantalPogingen": 0,
                                "geraden": undefined,
                                "laatsteVijfPogingen": []
                            }
                        ]];

                    for (var i = 0; i < $rootScope.bruteforces.length; i++) {
                        for (var j = 0; j < $rootScope.bruteforces[i].length; j++) {
                            var bruteforce = $rootScope.bruteforces[i][j];
                            if(bruteforce.techniek === "woordenboek"){
                                doePogingWoordenboek(bruteforce);
                            }
                            else{
                                var teller = [0, 0, 0, 0, 0, 0, 0, 0];
                                var start = new Date().getTime();

                                doePogingAlpha(bruteforce, teller, start);

                            }
                        }
                    }
                };

                function doePogingWoordenboek(bruteforce){
                    var done = false;
                    var woordenboekarr = $scope.woordenboek.split('\n')
                    var teller = 0;
                    var start = new Date().getTime();

                    while(done === false)
                    {
                        //List of last passwords
                        bruteforce.laatsteVijfPogingen.unshift(woordenboekarr[teller]);
                        if(bruteforce.laatsteVijfPogingen.length >= 6)
                        {
                            bruteforce.laatsteVijfPogingen.pop();
                        }

                        //check if bruteforced
                        if(woordenboekarr[teller].match(bruteforce.wachtwoord))
                        {
                            done = true;
                            bruteforce.geraden = true;
                        }
                        else {
                            teller++;
                            bruteforce.aantalPogingen++;
                        }

                        if(teller === woordenboekarr.length){
                            done = true;
                        }
                    }

                    //set execution time
                    var end = new Date().getTime();
                    var time = end - start;
                    time = time / 1000;
                    var seconds = time;
                    bruteforce.tijdBezig = seconds;
                    if(bruteforce.geraden === undefined){
                        bruteforce.geraden = false;
                    }
                }

                function doePogingAlpha(bruteforce, teller, start) {
                    if (bruteforce.geraden === undefined && bruteforce.aantalPogingen < 100000) {
                        bruteforce.aantalPogingen++;
                        teller[7]++;
                        for(var i = 7; i >= 0; i--) {
                            if(teller[i] >= 0) {
                                if(teller[i] === chars.length) {
                                    teller[i] = 0;
                                    teller[i-1] = teller[i-1] + 1;
                                }
                            }
                        }

                        var string = "";
                        for(var i = 7; i >= 0; i--) {
                            if(teller[i] >= 0) {
                                string = chars[teller[i]] + string;
                            }
                        }

                        if(string === bruteforce.wachtwoord) {
                            bruteforce.geraden = true;
                        }

                        bruteforce.laatsteVijfPogingen.unshift(string);
                        if(bruteforce.laatsteVijfPogingen.length >= 6) {
                            bruteforce.laatsteVijfPogingen.pop();
                        }

                        var end = new Date().getTime();
                        var time = end - start;
                        time = time / 1000;
                        var seconds = time;
                        bruteforce.tijdBezig = seconds.toFixed(3);
                        this.start = time;

                        $timeout(function () {
                            doePogingAlpha(bruteforce, teller, start)
                        }, 1);
                    }
                }

            });
        });

        app.run(function($rootScope, $timeout, $q, $http){
            $http.get('resources/wordlist.txt')
                    .success(function(data, status, headers, config) {
                        $rootScope.woordenboek = data;
                        $rootScope.$broadcast('dictionary-loaded');
                    })
                    .error(function(data, status, headers, config) {
                        // log error
                        alert('error');
                    });
        });
</script>
</body>
</html>